[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-environ = "*"
gunicorn = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
shortuuid = "*"
psycopg2 = "==2.7.7"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"

[requires]
python_version = "3.7"
