[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4"
mysqlclient = "*"
django-environ = "*"
gunicorn = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
whitenoise = "*"
shortuuid = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
